doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/mui/mui.min.css')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
  body
    header(class="mui-bar mui-bar-nav")
      h1(class="mui-title") 聚合开发者平台
    div(class="mui-content" style="margin-top:20px")
      form(id='login-form' class="mui-input-group")
        div(class="mui-input-row")
          label 账号
          input(id='account' type="text" class="mui-input-clear mui-input" placeholder="手机号" maxlength="11")
        div(class="mui-input-row")
          label 密码
          input(id='password' type="password" class="mui-input-clear mui-input" placeholder="请输入密码" maxlength="16")
    div(class="mui-content-padded" style="margin-top:25px")
      button(id='login' type="button" class="mui-btn mui-btn-block mui-btn-primary" onclick="login()") 登录
      div(class="link-area" style="text-align:center")
        a(onclick="regCustomer()") 注册账号
        span(style="color: #bbb; padding: 0px 8px;") |
        a(onclick='forgetPassword()') 忘记密码
    script(src="/javascripts/mui/mui.min.js")
    script(src="/javascripts/util.js")
    script(type="text/javascript").
      mui.init({
        statusBarBackground: '#9defbcg'
      });
      function regCustomer(){
        mui.openWindow({
          url:"/regis",
          id:"regis_page"
        });
      }
      function forgetPassword(){
        alert("请联系管理员QQ:251603032,人工重置密码");
        return;
      }
      function login(){
        let acc = mui("#account")[0].value;
        if(!REGUtil.checkPhone(acc)){
          mui.toast('请输入正确的手机号',{ duration:'short', type:'div' });
          return;
        }
        let pwd = mui("#password")[0].value;
        if(!REGUtil.checkPasswd(pwd)){
          mui.toast('密码为8-16位的字母或数字',{ duration:'short', type:'div' });
          return;
        }
        let rand = REGUtil.generateRand();
        mui.ajax("/custo/login?rand"+rand+"&acc="+acc+"&pwd="+pwd,{
          error:function(xhr,type,thr){
            alert(thr);
          },
          success: function(resp,stat,xhr){
            if("OK" == resp.rs){
              mui.openWindow({
                url:"/custo/maintab",
                id:"main_tab_page"
              });
            }else{
              mui.toast('用户名或密码错误',{ duration:'short', type:'div' });
            }
          },
          dataType: "json",
          timeout: 6000
        });
      }
    

