el-menu(:default-openeds="['1','2','3']" v-bind:style="{height: asideHeight + 'px'}" collapse=false)
    el-submenu(index="1")
        template(slot="title")
            i(class="el-icon-menu")
            span 应用和场景
        el-menu-item-group
            el-menu-item(index="1-1" @click="gofunc(0)") 应用管理
            el-menu-item(index="1-2" @click="gofunc(1)") 调用统计
    el-submenu(index="2")
        template(slot="title")
            i(class="el-icon-setting")
            span 系统设置
        el-menu-item-group
            el-menu-item(index="2-2" @click="gofunc(2)") 用户管理
            el-menu-item(index="2-3" @click="gofunc(3)") 修改密码
    el-submenu(index="3")
        template(slot="title")
            i(class="el-icon-warning")
            span 隐私和安全
        el-menu-item-group
            el-menu-item(index="3-1" @click="gofunc(4)") 实名认证
            