div(class="mui-content")
  p 个人实名状态:未实名
  form(class="mui-input-group" style="padding-top:10px")
    table(style="width:100%")
      tr
        td
          div(style="text-align:center")
            a(class="a-upload" style="background-image:url(/images/idexample.jpeg);background-size:contain") + 
              input(type="file" accept="image/*" onchange="changePic(this)")
            p 身份证正面
        td
          div(style="text-align:center")
            a(class="a-upload") + 
              input(type="file" accept="image/*")
            p 身份证反面
        td
          div(style="text-align:center")
            a(class="a-upload") + 
              input(type="file" accept="image/*")
            p 手执身份证
    div(style="width:100%;text-align:center;padding-bottom:10px;")
      button(type="button" class="mui-btn") 提交认证
div(style="height:20px;")
div(class="mui-content")
  p 企业实名状态:未实名
  form(class="mui-input-group" style="padding-top:10px")
    table(style="width:100%")
      tr
        td
          div(style="text-align:center")
            a(class="a-upload" style="background-image:url(/images/idexample.jpeg);background-size:contain") + 
              input(type="file" accept="image/*" onchange="changePic(this)")
            p 法人身份证正面
        td
          div(style="text-align:center")
            a(class="a-upload") + 
              input(type="file" accept="image/*")
            p 法人身份证反面
        td
          div(style="text-align:center")
            a(class="a-upload") + 
              input(type="file" accept="image/*")
            p 经办人手执身份证 
      tr
        td(colspan="3")
          div(style="text-align:center")
            a(class="a-upload" style="background-image:url(/images/yyzz.jpeg);background-size:contain;height:85px;width:54px;line-height:70px;") + 
              input(type="file" accept="image/*" onchange="changePic(this)")
            p 企业营业执照 
    div(style="width:100%;text-align:center;padding-bottom:10px;")
      button(type="button" class="mui-btn") 提交认证
div(style="height:20px;")
div(class="mui-content")
  p 当前余额:0元
    