div(style="margin: 20px 15px 10px; color: #6d6d72; font-size: 15px;") 置顶
ul(class="mui-table-view")
  li(class="mui-table-view-cell mui-media")
    a(href="javascript:;")
      img(class="mui-media-object mui-pull-left" src="/images/juhelogo.png")
      div(class="mui-media-body") 关于聚合
        p(class='mui-ellipsis') 聚合信息隶属于北京若峰伟业科技有限公司与中国移动、中国联通、中国电信在移动行业短信业务
  li(class="mui-table-view-cell mui-media")
    a(href="javascript:;")
      img(class="mui-media-object mui-pull-left" src="/images/apipdf.png")
      div(class="mui-media-body") API使用说明
        p(class='mui-ellipsis') 10690行业专属通道，全国全网发送、3秒到达， HTTP、API、CMPP等接口全面支持，按照成功计费，发送状态报告实时返回，专线机房，
div(style="margin: 20px 15px 10px; color: #6d6d72; font-size: 15px;") 消息列表
ul(class="mui-table-view")
  li(class="mui-table-view-cell mui-media")
    a(href="javascript:;")
      img(class="mui-media-object mui-pull-left" src="/images/juhelogo.png")
      div(class="mui-media-body") 关于聚合
        p(class='mui-ellipsis') 聚合信息隶属于北京若峰伟业科技有限公司与中国移动、中国联通、中国电信在移动行业短信业务
  li(class="mui-table-view-cell mui-media")
    a(href="javascript:;")
      img(class="mui-media-object mui-pull-left" src="/images/apipdf.png")
      div(class="mui-media-body") API使用说明
        p(class='mui-ellipsis') 10690行业专属通道，全国全网发送、3秒到达， HTTP、API、CMPP等接口全面支持，按照成功计费，发送状态报告实时返回，专线机房，